<div class="hs-box">
    <a href="###"><img class="hs-img" src="images/hs-img.png"></a>
</div>
<div class="c-box">
    <i class="iconfont icon-l-jian l-j"></i>
    <div class="a-header">
        <a href="###">{{author}}</a>
        <i class="iconfont icon-gz-p i-gz" title="关注"></i>
    </div>
    <div class="a-box">
        <a href="###" class="a-ib">
            <img src="images/a-img.jpg" class="a-img"/>
            {{#if picture.length}}
            <span class="img-num">picture.length</span>
            {{/if}}
        </a>
        {{#each content}}
            {{#if this}}
                <p>{{this}}</p>
            {{else}}
                <p><br/></p>
            {{/if}}
        {{/each}}
    </div>
    <div class="a-f">
        <div class="a-tags">
            {{#if tags.length}}
                <i class="iconfont icon-tags a-ts"></i>
            {{/if}}
            {{#each tags}}
                <span class="tags"><a href="###" class="tags-a">{{this}}</a></span>
            {{/each}}
        </div>
        <div class="a-opt">
            {{#if isMe}}
                <span class="opts tags-a do-del">删除</span>
                <span class="opts tags-a do-edit">编辑</span>
            {{else}}
                <span class="opts tags-a">
                    <i class="iconfont icon-love love"></i>
                </span>
            {{/if}}
            <span class="opts tags-a do-dis">评论({{discuss.length}})</span>
            <span class="opts tags-a do-hot">热度({{hot}})</span>
        </div>
    </div>
</div>
